.seletor {
    position: relative;
    margin-bottom: -5.8rem;
    margin-left: 23.8rem;
    z-index: 1000;
    height: 45px;
    animation-name: animationMenu;
    animation-duration: 2s;
}
@keyframes animationMenu{
    0%   { margin-left: 3rem;}
    100%  { margin-left: 23.8rem;}
}
.conteine{
    position: fixed;
    width: 62rem;
    height: 30rem;
    right: 0;
    bottom: 15rem;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
    border-radius: 37px 0px 0px 37px;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
}
.conteine span{
    font-size: 2rem;
}
.conteineForm{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.conteineForm img{
    height: 14rem;
    margin-right: -5rem;
}
.conteineForm form{
    display: flex;
    flex-direction: column;
}

.conteineForm input,textarea{
    border: 0.5px solid rgba(0, 0, 0, 0.67);
    filter: drop-shadow(0px 30px 60px rgba(57, 57, 57, 0.1));
    border-radius: 6px;
    width: 23rem;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    padding: 0 0.1rem;
}
textarea{
height: 11rem;
}
.conteineForm p{
    margin: 0 0 0.3rem 0;
}
.conteineForm form button{
    align-self: center;
    width: 7rem;
    font-size: 1.2rem;
    color: #FFFFFF;
    background: #2D9CDB;
    border-radius: 4px;
    border: 0.3px solid #2D9CDB;
}
.contato{
    display: flex;
    flex-direction:column;
}
.contato a {
    text-decoration: none;
}
.contato p {
    font-size: 1.5rem;
}.contato p, a {
    margin: 0 0 .5rem 3rem;
}
.contato img {
    margin-top:2rem;
}